/*  Palette
#faff20 250,255,32 Yellow
#ffa000	255,160,0 Orange
****************/

/*  Global
****************/
:root{
  font-family: 'Montserrat', sans-serif;
  font-size: .7vw;
}
* { margin: 0; padding: 0; box-sizing: border-box;
}
body{
  margin:0;
  max-width:100vw;
  background:white;
}
main{
  position:relative;
  height: 88vh;

}
h1{
  position:absolute;
  left:0;
  right:0;
  text-align:center;
  font-size:4rem;
  margin-top: 12vh;
}
h2{
  font-size:3rem;
  text-align:center;
}
h3{
  margin:0;
  font-size:2rem;
  white-space: nowrap;
  text-align:center;
}


/*    Header
****************/
#header{
  display:flex;
  justify-content: space-around;
  margin:0;
  box-shadow: 0 1px 20px rgba(0,0,0,.5);
  position:fixed;
  top:0;
  overflow: hidden;
  z-index:100;
  height:10vh;
  background:#fff;
  width:100vw;
  background-image: linear-gradient(rgba(255,160,0,.5)50%, rgba(255,160,0,.3)) ;
}
#logo{
  align-self: center;
  width:50%;
  max-width:600px;
  margin-left:2%;
}
#header-img{
  width:100%; 
}

/*    Navigation
****************/
#nav-bar{
  display:flex;
  width:50%;
  justify-content:flex-end;
  align-items: center;
  font-size:2rem;
  margin-right:5%;
}
.nav-link{
  padding:1%;
  /*background:grey;*/
  text-decoration:none;
  transition: 75ms ease-out;
  color:black;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 25px;
  padding:2%;
}

.nav-link:hover{
  text-shadow:2px 2px 3px rgba(0,0,0,.7);
  transform:scale(1.1);
}
.nav-link:active{
  transform:scale(1.05);
  background: rgba(255,160,0,.2);
}

/*  Panels
****************/
section{
  margin:0;
}

/*  Top
****************/
#top{
  position:relative;
  display:flex;
  justify-content: space-around;
  height:100vh;

  padding:28vh 6vw;
}

#block-text-top{
  max-width: 50%;
  padding-left:5%;
}
#main-img-wrapper{
  width:50vw;
}
#main-img-wrapper img{
  width:100%;
}
#top p{
  font-size:2rem;
}
/*  Middle
****************/
#middle{
  background: rgba(250,255,32,.2);
  height:100vh;
  position: relative;
  display:flex;
  flex-direction: column;
}
#middle h2{
margin-top:12vh;
}
#middle-flexbox{
display:flex;
align-items:center;
height:100%;
}

#block-text-middle{
width: 50%;
position:relative;
padding-bottom: 28.5%;
height: 0px;
margin: 0 auto;
}
#info-container{
position:absolute;
height:100%;
width:100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.info-panel{
width:88%;
height:35%;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
color:black;
transform: scale(.9);
transition: 150ms ease-in-out;
opacity: .7;
box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.info-panel p{
text-align: center;
width:80%;
font-size:1.4rem;
}
.info-panel:hover{
background-image: linear-gradient(rgba(255,160,0,.5), rgba(255,160,0,.3)70%) ;
transform:scale(1);
opacity:1;
box-shadow: 0 1px 20px rgba(0,0,0,.5);
}
/*  Video
****************/
#video-container{
  width:50%;
  position:relative;
  padding-bottom: 28.5%;
  height: 0px;
  margin: 0 auto;
}
#video-container iframe{
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height:100%;
  width:100%;
}
/*  bottom
****************/
#bottom{
height:100vh;
}
#bottom-flexbox{
height:100%;
display:flex;
align-items: center;
justify-content: center;
}
form{
  display:flex;
}

@media only screen and (max-width:800px){
  #header{
    align-items: center;
  }
  #nav-bar{
    flex-direction:column;
  }
  #block1{
    flex-direction: column;
  }
}